data/*
ui/__pycache__/*
__pycache__/*
models/__pycache__/*
services/__pycache__/*
fcst.pbix
lightning_logs/*
build/*
dist/*
dist1/*
dist2/*
.nicegui/*
gguf/*
data1/*
packages/*
archive/mlruns/*
archive/checkpoints/*
archive/lightning_logs/*
archive/segments.csv
archive/analysis.csv
archive/Trauma-US.csv
archive/charts.html
archive/clustering data.pbix
llms/*