nicegui
polars
arrow_odbc
neuralforecast
scikit-learn
pandas
pyodbc
mlforecast
statsforecast
lightgbm
xgboost
databricks-sdk
databricks-connect==16.1.6
databricks-sql-connector
authlib>=1.0.0
requests
python-dotenv
llama-cpp-python
beautifulsoup4
ddgs